<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        <%= settings.name %>
    </title>

    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="stylesheet" href="./bg/style.css">
    <link rel="stylesheet" href="/assets/css/style.css">

</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
<link rel="icon" href="https://cdn.discordapp.com/attachments/980425991996444675/1023214771186708601/download.jpeg" type="image/png">

<body style="background: url('https://wallpaperaccess.com/full/2915359.jpg') fixed no-repeat;background-size: cover;">
    
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>

    <div id="bg"></div>
    <div style="background: transparent;" class="container-scroller">
        <div style="background: transparent;" class="container-fluid page-body-wrapper full-page-wrapper">
            <div style="background: transparent;" class="row w-100 m-0">
                <div style="background: transparent;" class="content-wrapper full-page-wrapper d-flex align-items-center">
                    <div style="background: transparent; " class=" col-lg-4 mx-auto">
                        <div style="outline: 0vh;" class=" px-5 py-5">
                            <form>
                                <div style="   
                                top: 20vh;
                                right: 20vh;
                                box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
                                border-radius: 5px;
                                background-color: rgba(1, 140, 253, 0.15);
                                -webkit-backdrop-filter: blur(7px);
                                backdrop-filter: blur(7px);" class="text-center">
                                    <br>
                                    <center>
                                        <img src="https://c.tenor.com/74l5y1hUdtwAAAAi/pokemon.gif" style="height: 80px; ">
                                        <p style="font-family: 'Roboto Mono', monospace;">Authentication Page</p>
                                        <div id="example">
                                            <h6><span>Welcome</span></h6>
                                            <h6><span>Welcome</span></h6>
                                            <h6><span>Welcome</span></h6>
                                        </div>

                                    </center>
                                    <br><br>
                                    <% if (!req.session.userinfo)  { %>
                                        <img src="https://c.tenor.com/t8BoinVLwzAAAAAi/raf-rafs.gif" height="15px">
                                        <a role="button" class="button" href="<%= extra.home.buttontext.loggedout.link %>" onclick="this.classList.toggle('button--loading')"><span class="login-text">Login</span></a>
                                        <% } else { %>
                                            <a role="button" class="button" href="<%= extra.home.buttontext.loggedin.link %>">Login as <%= req.session.userinfo.username %>#<%= req.session.userinfo.discriminator %></a><br />
                                            <a role="button" style="font-size: 18px; margin-top: 6px;" class="btn btn-primary btn-lg" href="<%= extra.home.buttontext.loggedout.link %>">Login on a different account</a>
                                            <% } %>
                                                <br><br>
                                                <h5 class="text-gray">By logging in, you agree to the Terms of Service and Privacy Policy</h5>
                                                <br>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- row ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    <script src="./bg/script.js"></script>
    <!-- container-scroller -->
    <script src="./fireflies.js"></script>

</body>

</html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Login to access the dashboard.">
    <meta name="keywords" content="IshanActyl">
    <meta name="author" content="Dashboard">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>